client_id =
name =
handle =
application_url =
embedded =

[build]
automatically_update_urls_on_dev =
include_config_on_deploy =

[access.admin]
direct_api_mode =
embedded_app_direct_api_access=

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_customers,read_locales"

[auth]
redirect_urls = []

[webhooks]
api_version = "2024-10"

[[webhooks.subscriptions]]
compliance_topics = [ "customers/redact", "customers/data_request", "shop/redact" ]
uri = "/webhooks"

[pos]
embedded = false

[app_preferences]
url = "https://www.app.example.com/preferences"
